/*GLOBAL*/

red-footer{
    color: #f10c0c;
}
nav a:hover{
    color: rgb(112, 34, 177);
}

body{
    color:#444;
}
h1{
    font-style: normal;
    text-transform: capitalize;
    color: #4062bb;
}
h2{
    color: #4062bb;
} 
h3{
    color: #4062bb;
}
aside a{
    color: #4062bb;
}
p a{
    color: #4062bb; 
}
a{
 color:#46557a;
}
h1{
    font-size:30px;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 30px;
}
h4{
    font-size: 20px;
}
nav{
    font-size: 18px;
}
p{
    font-size: 22px;
}
li{
    font-size: 20px;
}
footer{
    font-size: 16px;
}
/*CONTAINER*/
.container{
    width: 800px;
    margin: auto ;
}
.post-img{
    width:80%;
}
.page-header{
     background-color: #f9fafd;
     padding:auto;
}
nav a{
    margin-right:30px;
    margin-top: 10px;
    display: inline-block;
}

nav a{
    text-decoration:none;
    font-weight: bold;
}
ul a{
    text-decoration:none;
}
p a{
    text-decoration:none;
}
h4{
 padding-left: 230px;
    margin:auto;
    margin-top: 100px;
    margin-bottom: 50px;
}
.margin{
    margin-bottom:100px;
} 
ul a:hover{
    color: rgb(112, 34, 177);
    font-weight: bold;
}
