/*GLOBAL*/

red-footer{
    color: #f10c0c;
}
nav a:hover{
    color: rgb(166, 9, 228);
}

body{
    color:#444;
}
h1{
    font-style: normal;
    text-transform: capitalize;
    color: #4062bb;
}
h2{
    color: #4062bb;
} 
h3{
    color: #4062bb;
}
aside a{
    color: #4062bb;
}
p a{
    color: #4062bb; 
}
a{
 color:rgb(47, 83, 58);
}
h1{
    font-size:30px;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 30px;
}
h4{
    font-size: 20px;
}
nav{
    font-size: 18px;
}
p{
    font-size: 22px;
}
li{
    font-size: 20px;
}
footer{
    font-size: 16px;
}
/*CONTAINER*/
.container{
    width: 800px;
    margin: auto ;
}
.post-img{
    width:80%;
}
.page-header{
     background-color: #f9fafd;
     padding:auto;
}
nav a{
    margin-right:30px;
    margin-top: 10px;
    display: inline-block;
}
p{
    border-top: rgb(23, 19, 233);
}
nav a{
    text-decoration:none;
}